*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {

  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  background-color: rgb(70, 69, 63);
  color: ghostwhite;

}

.wrapper fieldset {

  width: 70%;
  margin: 20px 0;

}

input label {

  width: 85%;
  height: 35px;
  background-color: rgb(70, 69, 63);
  border-color: ghostwhite;
  border-style: solid 1px;
}
